{% extends "base.html" %}
{% block title %}projects{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='project.css') }}">
{% endblock %}

{% block content %}
<section class="projects">

  <div class="project-card">
    <h3>LoanLens</h3>
    <p>
       This was the first real project I built. The goal was to create a tool that saves transfer pricing analysts time when receiving client information. 
    </p>
    <p>I learned a lot from the process of this project. About programming and bringing ideas to life as well. </p>
    <p>While this project demonstrates what could be done, the most cost-effective way to implement it in practice is to use GPTs to scan and extract information from documents instead of training a custom model.</p>
    <a href="https://youtu.be/XnoMdKAZGGk" target="_blank" class="project-link">
      Watch Project Video →
    </a>
  </div>

  <div class="project-card">
    <h3>Stock Dashboard</h3>
    <p>
      For this project my goals were simple. To become more comfortable in CRUD and get experience with APIs.
    </p>
    <p>I used docker in order to make sharing easier later.</p>

    <p>I really found getting into this project fascinating with the amount of information at ones disposal in the financial industry.</p>
    <p>In the future, I plan on adding more features to this in the future such as stronger authentication as well as personal wallets so that users can do more than just watch stocks go up and down.</p>
    <a href="https://youtu.be/7dfk4czlAjk" target="_blank" class="project-link">
      Watch Project Video →
    </a>
  </div>

</section>
{% endblock %}
